@import "../../assets/sass/utils/variables.scss";


.card-example {
    display: flex;
    justify-content: space-between;
    background-color: #f4f7fe;
    border: 2px dashed #bed0f9;
    width: 100%;
    padding: 20px;
    p {
        color: $secondary;
        font-size: 15px;
    }
    h2 {
        font-size: 3.5rem;
        font-weight: 800;
        color: #c2d4fe;
    }
}