$primary:   #743095;
$sidebar: #483bc8;
$secondary: #818181;
$success:   #14942e;
$success-badge: #f1faf1;
$info:      #2b67ef;
$warning:   #ff6302;
$danger:    #d93535;

$main-gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(19,11,105,1) 0%, rgba(67,40,116,1) 100%);

$font-size-base: 1.6rem;

$spacer: 0.1rem;
$spacers: (0: 0);