:dir(ltr) {
    .form-select {
        -webkit-background-position: right 0.75rem center;
        -moz-background-position: right 0.75rem center;
        background-position: right 0.75rem center;
    }
}