@font-face {
  font-family: "Tajawal";
  src: url("../../fonts/Din-next/DINNextLTArabic-Regular.ttf") format("truetype"),
    url("../../fonts/Din-next/DINNextLTArabic-Bold.ttf") format("truetype");
  font-style: normal;
}
