@import "../../../assets/sass/utils/variables.scss";

.book-form {
    &__check {
        width: 24%;
        input {
            &:checked + label {
                font-weight: 700;
            }
        }
    }
    .form-select {
        width: 100%;
    }
}

.record-card {
    width: 645px;
    display: flex;
    flex-direction: column;
    background-color: $main-bg;
    &__header {
        justify-content: space-between;
    }
    &__button {
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
    }
}
